.blue{
	color: #3074ef;font-size: 60px;font-weight:bold;
}
.red{
	color: #e53025;font-size: 60px;font-weight:bold;
}
.yello{
	color: #fcb004;font-size: 60px;font-weight:bold;
}
.green{
	color: #259a42;font-size: 60px;font-weight:bold;;
}